<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="routesFlow" doc:id="3d562ebf-04a8-48cc-9326-bffbe5f6e90d" >
		<logger level="INFO" doc:name="Logger" doc:id="2200496f-5e7f-4958-8e32-090d06cfc1e1" message="routes-flow-start"/>
		<db:select doc:name="Select" doc:id="96c04e65-e02f-4747-ad43-28a8863a8956" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from routes where companyname1= 'TravelOnTip']]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="73318317-231a-434f-9058-1f00c63ffa3e" message="routes-flow-end"/>
	</flow>
</mule>
